.main-container {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: 100%;
  vertical-align: top;
  transition: left 500ms, width 500ms;
}

.sidebar-open {
  width: 100px;
  left: 0px;
}
.sidebar-closed {
  position: relative;
  width: 0px;
}

.button {
  background-color: red;
  cursor: pointer;
  border: black 1px solid;
}
.button:hover {
  background-color: yellow;
}

.content-container {
  height: 100%;
  display: inline-block;
  transition: width 500ms;
}
.content-container-closed {
  width: calc(100% - 100px);
}
.content-container-open {
  width: calc(100%);
}
